body {
	margin: 0px;
}
body * {
	box-sizing: border-box;
}
main {
	width: 100%;
	padding: 0;
}
.landing-page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(212, 232, 206);
	padding: 5px;
	background-image: url("/img/learning.jpg");
	background-size: cover;
	color: white;
}
.landing-page-content-wrapper {
	margin: 100px 10px 10px 10px;
}
.oxford-lookup {
	float: left;
	margin: 20px 40px 20px 60px;
	border-bottom: 1px dotted rgb(3, 189, 242);
}

.oxford-logo {
	height: 50px;
	display: block;
	margin-bottom: 10px;
}

.word-and-definition {
	width: 400px;
}

.js-word-detail {
	margin-top: 10px;
	min-height: 80px;
}
.searched-word {
	font-weight: 700;
	font-size: 18px;
}

.word-list {
	font-size: 24px;
	margin: 20px 20px 10px 20px;
}
.word-list .word-count {
	font-size: 16px;
}

.create-account {
	width: 290px;
	color: black;
	background-color: rgb(235, 247, 232);
	padding: 20px;
	float: right;
	margin: 30px 20px 20px 20px;
}

.username {
	font-size: 16px;
	margin-right: 10px;
}
.login-screen {
	float: right;
	margin: 15px;
}
#username, #userPassword {
	margin-right: 15px;
  font-size: 14px;
	line-height: 30px;
	width: 175px;
	color: white;
	background: none;
	padding-left: 10px;
	outline: none;
  border: 1px solid rgb(43, 132, 17);
  border-radius: 3px;
}
.js-log-in, .js-log-out, .js-create-account {
	font-size: 12px;
	width: 65px;
	height: 40px;
	background-color: rgb(43, 132, 17);
	border: 1px solid rgb(43, 132, 17);
	border-radius: 3px;
	color: white;
	outline: none;
}

#js-search-word {
	line-height: 40px;
	font-size: 18px;
	width: 320px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
.js-lookup-word {
	font-size: 12px;
	width: 65px;
	height: 43px;
	background-color: rgb(3, 189, 242);
	border: 1px solid rgb(3, 189, 242);
	border-radius: 3px;
	color: white;
	outline: none;
	vertical-align: top;
}
.text-to-add {
	width: 300px;
	height: 100px;
} 

.create-account input {
	width: 250px;
  font-size: 14px;
	line-height: 35px;
	background: white;
	outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px 0 3px 0;
  padding-left: 10px;
}
.create-account .field-validation-feedback {
	color: red;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}
.create-account h1 {
	margin: 0 0 5px 0;
}
.js-create-account {
	width: 250px;
}