html, body, #app, .left-nav {
	height: 100%;
	margin: 0;
	padding: 0;
}
#app {
	display: inline-block;
	width: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
body * {
	box-sizing: border-box;
}
main {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* colors */
.top-nav  {
	background-color: #000000;
	color: #fff;
}
main .word-list-item .assessment {
	color: #5a9216;
}
.word-list-heading {
	color: #5a9216;
}
.add-circle {
	color: #fff;
  background: #5a9216;
}
.parse-text, .add-these-words {
	background: #5a9216;
	border: #5a9216;
}
.create-account {
	background-color: rgb(235, 247, 232);
}
#username, #userPassword {
	border: 1px solid rgb(43, 132, 17);
}

.login-screen {
	display: block;
	float: none;
}
.login-wrapper {
	min-height: 50px;
	width: 100%;
	margin-top: 90px;
}
#username, #userPassword, .js-log-in {
	display: block;
	margin: 10px auto 0 auto;
}
.landing-page-content-wrapper {
	margin: 0px 0px 10px 0px;
}
.screenshots {
	background-color: white;
	padding: 20px;
}

.screenshot-and-explanation {
	width: 300px;
	margin: 10px auto 10px auto;
	color: black;
	text-align: center;
	font-size: 16px;
	letter-spacing: .03em;
	line-height: 1.2em;
}
.screenshot-and-explanation img {
	width: 100%;
	border: 1px solid black;
}

.technical-explanation {
	background-color: black;
	padding: 40px;
	font-size: 16px;
	letter-spacing: .03em;
	line-height: 1.2em;
}

.technical-explanation a {
	color: white;
	text-decoration: none;
}
.technical-explanation a:visited {
	color: white;
}
.technical-explanation a:hover {
	text-decoration: underline;
}

@media (min-width: 450px) {
	#username, #userPassword {
		margin-right: 15px;
		padding-left: 10px;
	}
	.login-screen {
		float: right;
	}
	#username, #userPassword {
		display: inline-block;
		margin-right: 15px;
	}
	.js-log-in {
		display: inline-block;
	}
	.landing-page-content-wrapper {
		margin: 0px 0px 10px 0px;
	}
	.screenshot-and-explanation {
		width: 450px;
		margin-bottom: 40px;
	}
}


/* landing-page */
.landing-page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(212, 232, 206);
	padding: 0;
	color: white;
	overflow: scroll;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.app-explanation {
	width: 100%;
	min-height: 500px;
	background-color: rgba(43, 132, 17, .15);
	background-image: url("/img/learning.jpg");
	background-size: cover;
	padding: 20px;
	margin: 0 auto 0 auto;
}
.app-title {
	font-size: 60px;
	width: 390px;
	font-weight: 100;
	color: rgb(255, 255, 255);
	margin: 100px auto 0 auto;
	letter-spacing: .03em;
}
.one-line-explanation {
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	letter-spacing: .06em;
}
.demo-account {
	font-size: 16px;
	text-align: right;
	margin-top: 10px;
	color: rgb(118, 222, 87);
}

.oxford-lookup {
	width: 400px;
	margin: 60px auto 20px auto;
	border-bottom: 1px dotted rgb(3, 189, 242);
}

.oxford-logo {
	height: 40px;
	display: block;
	margin-bottom: 10px;
}

.word-and-definition {
	width: 400px;
}

.js-word-detail {
	margin-top: 10px;
	min-height: 80px;
}
.searched-word {
	font-weight: 700;
	font-size: 18px;
}

.landing-page .word-list {
	font-size: 24px;
	margin: 20px 20px 10px 20px;
}
.landing-page .word-list .word-count {
	font-size: 16px;
}

.create-account {
	width: 290px;
	color: black;
	padding: 20px;
	margin: 60px auto 60px auto;
}
.create-account-invitation {
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
}

.username {
	font-size: 16px;
	margin-right: 10px;
}

#username, #userPassword {
  font-size: 14px;
  padding-left: 10px;
	line-height: 30px;
	width: 175px;
	color: white;
	background: none;
	outline: none;
  border-radius: 3px;
}
.js-log-in, .js-log-out, .js-create-account {
	font-size: 12px;
	width: 65px;
	height: 40px;
	background-color: rgb(43, 132, 17);
	border: 1px solid rgb(43, 132, 17);
	border-radius: 3px;
	color: white;
	outline: none;
}

#js-search-word {
	line-height: 40px;
	font-size: 18px;
	width: 320px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
.js-lookup-word {
	font-size: 12px;
	width: 65px;
	height: 43px;
	background-color: rgb(3, 189, 242);
	border: 1px solid rgb(3, 189, 242);
	border-radius: 3px;
	color: white;
	outline: none;
	vertical-align: top;
}
.text-to-add {
	width: 300px;
	height: 100px;
} 

.create-account input {
	width: 250px;
  font-size: 14px;
	line-height: 35px;
	background: white;
	outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px 0 3px 0;
  padding-left: 10px;
}
.create-account .field-validation-feedback {
	color: red;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}
.create-account h1 {
	margin: 0 0 5px 0;
}
.js-create-account {
	width: 250px;
}



ul {
	list-style-type: none;
	padding: 0;
}


.top-nav {
	width: 100%;
	min-width: 400px;
	height: 65px;
	margin-left: 0;
	z-index: 1;
	transition: margin-left .5s;
	position: fixed;
	top: 0;
	left: 0;
}
.top-nav * {
	display: inline-block;
	vertical-align: top;
}
.top-nav .current-view {
	padding: 22px;
}
.top-nav .right-nav {
	position: fixed;
	top: 0px;
	right: 10px;
}
.top-nav .material-icons {
	margin: 18px 15px 22px 15px;
}
.top-nav .hamburger-icon {
	cursor: pointer;
}
.top-nav .log-out-hover {
	z-index: 10;
	position: fixed;
	top: 20px;
	right: 19px;
	height: 35;
}
.top-nav .js-log-out {
	font-size: 12px;
	width: 65px;
	height: 40px;
	cursor: pointer;
	background-color: #F5F5F5;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	outline: none;
}
.left-nav {
	width: 250px;
	background-color: #f5f5f5;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 1px solid rgba(0,0,0,.14);
	z-index: 2;
}

.left-nav-title {
	height: 64px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.left-nav-title-text {
	width: 140px;
	font-size: 16px;
	padding: 18px 0 18px 0;
	margin: 0 auto 0 auto;
}

.left-nav li {
	cursor: pointer;
	font-size: 13px;
}
.left-nav .menu-level-1 li {
	font-weight: 700;
}
.left-nav .nav-header {
	width: 100%;
	height: 100%;
	padding: 15px 0 15px 22px;
	margin-top: 15px;
}
.left-nav .nav-header:hover {
	background-color: rgb(238, 238, 238);
}
.left-nav .menu-level-2 li {
	font-weight: 400;
	padding: 10px 10px 10px 46px;
}
.left-nav .menu-level-2 li:hover {
	background-color: rgb(238, 238, 238);
}

.page-wrap {
	height: 100%;
	width: 100%;
}

.indent-for-left-nav {
	transition: margin-left .5s;
	margin-left: 250px;
}
.word-list {
	transition: margin-left .5s;
	width: 400px;
}
.word-list-heading {
	width: 400px;
}
.word-list-heading * {
	display: inline-block;
}
.word-heading {
	width: 30px;
	margin-left: 50px;
}
.assessment-heading {
  width: 80px;
  margin: 10px 15px 10px 110px;
}
.delete-word-icon {
	font-size: 16px;
	cursor: pointer;
	color: gray;
}
main {
	margin-top: 65px;
}
main .word-list-item {
	padding: 5px 10px 5px 20px;
}
main .word-list-item * {
	display: inline-block;
}
main .word {
	font-size: 22px;
	padding: 0 15px 0 15px;
	width: 150px;
}
main .word-list-item .assessment {
	font-size: 14px;
	width: 95px;
}
.assessment-slider {
	width: 100px;
	font-size: 10px;
}

main .exposures {
	margin-left: 20px;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}
.dialog-box {
	z-index: 6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 500px;
	margin: 80px auto 20px auto;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
  border-radius: 2px;
  overflow: scroll;
}
#text-to-parse {
	margin: 20px 50px 20px 50px;
	width: 300px;
	height: 400px;
	border-radius: 5px;
  border: solid 2px #5a9216;
}
.parse-text, .add-these-words {
	font-size: 12px;
	width: 250px;
	height: 43px;
	border: 1px solid;
	border-radius: 3px;
	color: white;
	outline: none;
	vertical-align: top;
	margin: 0 75px 10px 75px;
}
.can-add-list {
	margin: 20px;
}
.can-add-word {
	display: inline-block;
	font-size: 14px;
	color: #5a9216;
	border: 1px solid gray;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	margin: 7px 5px 0 0;
}
.remove-word {
	font-size: 14px;
	color: black;
	cursor: pointer;
	margin-right: 3px;
}

.add-circle {
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    right: 120px;
    top: 20px;
    height: 56px;
    width: 56px;
    box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.add-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden {
	display: none;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 60px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 10px;
    margin-top: -7px;
    background: rgb(43, 132, 17);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white; 

    /*required for proper track sizing in FF*/
    width: 60px;
}

input[type=range]::-moz-range-track {
    width: 60px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 15px;
    width: 10px;
    background: rgb(43, 132, 17);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
